*,
*::after,
*::before {
  font-family: Vazirmatn;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  direction: rtl;
  padding: 20px 16px;
}
ul {
  list-style: none;
}
input {
  border: 1px solid #000000;
  outline: 0;
  width: 100%;
}
input:focus {
  border: 1px #30b0c7 solid;
}
input::placeholder,textarea::placeholder{
  color: #c7c7cc;
  font-size: 14px;
  font-weight: 200;
}
.input-label {
  font-weight: 500;
}

button {
  border: 0;
  outline: 0;
  background: transparent;
  cursor: pointer;
}
a {
  text-decoration: none;
  color: #000000;
}
.error-message {
  color: red;
  font-size: 12px;
  font-weight: 700;
  margin-top: 5px;
}